* {
  box-sizing: border-box;
}

#Home_logo {
  width: 500px;
}

.Navbar_button {
  margin-left: 10px;
}

#Navbar_button-container{
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}

#bidFieldsNavigator_button-container{
  display: grid;
  grid-template-columns: 200px;
}

.MaterialCosts_labels{
  display: inline-block;
}

.MaterialCosts_inputs{
  display: inline-block;
}
